// Bootstrap brand color customization

/*     brand Colors              */

$brand-primary: $blue-1 !default;
$brand-secondary: $green-1 !default;
$brand-thirt: $green-2 !default;
$brand-fouth: $green-3 !default;
$brand-fifth: $green-4 !default;
$brand-info: $cyan-500 !default;
$brand-success: $green-500 !default;
$brand-warning: $orange-500 !default;
$brand-danger: $red-500 !default;
$brand-rose: $pink-500 !default;
$brand-inverse: $black-color !default;